*.o
*.elf
*.map
*.d
*.flag
*.backup
*.ctu-info
*cppcheck-addon-ctu-file-list
*harmony-manifest-success.yml
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/project.properties
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.X/report
**/*.X/.generated_files
**/*.IAR/Debug
**/*.IAR/settings
**/*.IAR/*.dep
**/*.IAR/*.custom_argvars
**/*.KEIL/Objects
**/*.KEIL/Listings
**/*.KEIL/*.uvguix.*
Gemfile*
